# Google Play upload keystore ayarlari.
# 1) Bu dosyayi "key.properties" olarak kopyalayin (android/key.properties).
# 2) upload-keystore.jks dosyanizi android/ klasorune koyun.
# 3) Asagidaki degerleri doldurun.
#
# Beklenen Play Console upload sertifikasi SHA1:
# FC:28:FC:95:59:A6:F1:1D:0C:93:E1:66:AA:EB:40:F2:30:94:53:1C
#
# Parmak izini dogrulamak icin:
#   .\scripts\verify_android_signing.ps1

storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=upload
storeFile=upload-keystore.jks
