{
  "project_info": {
    "project_number": "512275443807",
    "project_id": "tostusahane-e4e71",
    "storage_bucket": "tostusahane-e4e71.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:512275443807:android:f7c5a66155c03719f8abea",
        "android_client_info": {
          "package_name": "com.tostusahane.tostu_sahane"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyDZ5iC72yPBXgLvYdndknKjNl83CbWkxuY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
